@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = themeMode == "dark";
}

<aside>
    <div class="profile-info">
         <div class="image-container">
            <img id="profileImage"
                 src="@(Model.ProfileInfo != null ? Model.ProfileInfo.ProfileImage : "~/images/default-avatar.png")"
                 alt="@(Model.BasicInfo != null && !string.IsNullOrEmpty(Model.BasicInfo.FirstName) && !string.IsNullOrEmpty(Model.BasicInfo.LastName) ? $"{Model.BasicInfo.FirstName} {Model.BasicInfo.LastName}" : "User")"
                 class="rounded-image" />
        </div>
        @await Html.PartialAsync("~/Views/Sections/_UploadProfileImagePartial.cshtml", new UploadProfileImageViewModel())


        <h5>@(Model.BasicInfo != null && !string.IsNullOrEmpty(Model.BasicInfo.FirstName) && !string.IsNullOrEmpty(Model.BasicInfo.LastName) ? $"{Model.BasicInfo.FirstName} {Model.BasicInfo.LastName}" : "User")</h5>
        <p>@(Model.BasicInfo != null ? Model.BasicInfo.Email : "")</p>
    </div>
    <nav>
        <a class="btn-theme @(ViewContext.RouteData.Values["action"]!.ToString() == "Details" ? "active" : "")" asp-controller="Account" asp-action="Details"><i class="fa-solid fa-gear"></i> Account Details</a>
        <a class="btn-theme @(ViewContext.RouteData.Values["action"]!.ToString() == "Security" ? "active" : "")" asp-controller="Account" asp-action="Security"><i class="fa-solid fa-lock"></i> Security</a>
        <a class="btn-theme @(ViewContext.RouteData.Values["action"]!.ToString() == "SavedCourses" ? "active" : "")" asp-controller="Account" asp-action="SavedCourses"><i class="fa-regular fa-bookmark"></i> Saved Courses</a>
        <a class="btn-theme" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign out</a>
    </nav>
</aside>
