@{
    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = themeMode == "dark";

    var user = await UserManager.GetUserAsync(User);
}

<aside>
@if (user != null)
{
        <div class="profile-info">
            <div class="image-container">
                <img id="profileImage" src="~/uploads/@user.ProfileImage" />
                @await Html.PartialAsync("~/Views/Sections/_UploadProfileImagePartial.cshtml", new UploadProfileImageViewModel())
            </div>

            <h5>@user.FirstName @user.LastName</h5>
            <p>@user.Email</p>
        </div>
}
    <nav>
        <a class="btn-theme @(ViewContext.RouteData.Values["action"]!.ToString() == "Details" ? "active" : "")" asp-controller="Account" asp-action="Details"><i class="fa-solid fa-gear"></i> Account Details</a>
        <a class="btn-theme @(ViewContext.RouteData.Values["action"]!.ToString() == "Security" ? "active" : "")" asp-controller="Account" asp-action="Security"><i class="fa-solid fa-lock"></i> Security</a>
        <a class="btn-theme @(ViewContext.RouteData.Values["action"]!.ToString() == "SavedCourses" ? "active" : "")" asp-controller="Account" asp-action="SavedCourses"><i class="fa-regular fa-bookmark"></i> Saved Courses</a>
        <a class="btn-theme" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign out</a>
    </nav>
</aside>
