@*  @{
     var salesPrice = Model.Course;
 } *@

<div class="courses">
    @foreach (var course in Model.Course)
    {
        <div class="course">
            <div class="course-image">
                <img src="@course.Image.ImageUrl" alt="@course.Image.AltText">
            </div>
            <div class="save-icon">
                <i class="@course.SaveIcon"></i>
            </div>
            <div class="tag">
                <p>@course.Tag</p>
            </div>
            <div class="course-info">
                <h2>@course.Title</h2>
                <p class="author">@course.Author</p>
                @if (course.SalesPrice != null)
                {
                    <div class="price-with-sale">
                        <p class="sales-price">$@course.SalesPrice</p>
                        <p class="regular-price">$@course.Price</p>
                    </div>
                }
                else
                {
                    <p class="price">$@course.Price</p>
                }
                <div class="card-bottom">
                    <p class="duration"><i class="fa-regular fa-clock"></i> @course.Duration</p>
                    <p class="rating"><i class="fa-regular fa-thumbs-up"></i> @course.Rating</p>
                </div>
            </div>
        </div>
    }
</div>