@* @model CoursesIndexViewModel *@


            <div class="courses">
                <div class="course" onclick="location.href='@Url.Action("Details", "Courses", new { id = Model.Id }))'">
                    <div class="course-image">
                        <img src="@Model.CourseImage" alt="@Model.Title">
                    </div>
                    @* <div class="save-icon" onclick="saveCourse('@course.Id')"> *@
                            <a asp-action="Join" asp-controller="Courses" asp-route-id="@Model.Id">
                            <i class="fa-regular fa-bookmark"></i>
                        </a>
                    @* </div> *@
                        @if (Model.IsBestSeller)
                        {
                            <div class="tag">
                                <p>Best Seller</p>
                            </div>
                        }
                    <div class="course-info">
                        @* <a href="@Url.Action("Detail", "Courses", new { id = course.Id })"> *@
                        @* <a asp-action="Details" asp-controller="Courses" asp-route-id=""> *@
                        <h2>@Model.Title</h2>
                        @* </a> *@
                        <p class="author">by @Model.Author</p>
                        @if (Model.DiscountPrice == "string")
                        {
                            <p class="price">$@Model.Price</p>
                        }
                        else
                        {
                            <div class="price-with-sale">
                                <p class="sales-price">$@Model.DiscountPrice</p>
                                <p class="regular-price">$@Model.Price</p>
                            </div>
                        }

                        <div class="card-bottom">
                            <p class="duration"><i class="fa-regular fa-clock"></i> @Model.Hours hours</p>
                            <p class="rating"><i class="fa-regular fa-thumbs-up"></i> @Model.LikesInProcent (@Model.LikesInNumbers)</p>
                        </div>
                    </div>
                </div>
            </div>
    }
}
else
{
    <div>No courses found</div>
}

