@inject DownloadAppService _downloadAppService
@{
    var result = await _downloadAppService.GetAllDownloadAppAsync();
    List<DownloadAppEntity> content = (List<DownloadAppEntity>)result.ContentResult!;
    var downloadApp = content.First();

    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = themeMode == "dark";
}

@if (content != null)
{
    <section id="download-section" class="download-section">
        <div class="container download-container">
            <img src="@downloadApp.MobileImage" alt="@downloadApp.AltText" />
            <div class="content">
                <h3>@downloadApp.Title</h3>
                @foreach (var app in downloadApp.App)
                {
                    <div class="download-option">
                        <div class="text">
                            <p>@app.StoreName</p>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="rating">
                                <h5>@app.AwardTitle</h5>
                                <p>@app.AwardRating</p>
                            </div>
                        </div>
                        <img class="store-image" src="@(isDark ? $"{app.StoreImageDark}" : $"{@app.StoreImage}" )" alt="@app.AltText" />
                    </div>
                }
            </div>
        </div>
    </section>
}
