@inject ManageWorkService _manageWorkService
@{
    var result = await _manageWorkService.GetAllManageWorkAsync();
    List<ManageWorkEntity> content = (List<ManageWorkEntity>)result.ContentResult!;
    var manage = content.First();
}

@if (content != null)
{
    <section id="manage-section">
        <div class="container">
            <img src="@manage.Image" alt="@manage.AltText" />
            <div class="content">
                <h3>@manage.Title</h3>
                <ul>
                    @foreach (var iconAndText in manage.TextAndIcon)
                    {
                        <li><i class="@iconAndText.Icon"></i>@iconAndText.Text</li>

                    }
                </ul>
                <a class="btn-theme-s" asp-action="" asp-controller=""><i class="fa-solid fa-arrow-right"></i> Learn more</a>
            </div>
    </section>
}

