@inject ShowcaseService _showcaseService
@{
    var result = await _showcaseService.GetAllShowcaseAsync();
    List<ShowcaseEntity> content = (List <ShowcaseEntity>) result.ContentResult!;
    var showcase = content.First();
}

@if (content != null)
{
    <section class="showcase">
        <img class="background-image" src="@showcase.ShowcaseImage" alt="">
        <div class="container">
            <div class="content">
                <h1>@showcase.Title</h1>
                <p>@showcase.Text</p>
                <a class="btn-theme-s" asp-controller="Auth" asp-action="SignUp">Get started for free</a>
                <h6>@showcase.BrandsText</h6>
                <div class="brands">
                    @if (showcase.Brands != null)
                    {
                        foreach (var brand in showcase.Brands)
                        {
                            <img src="@brand.ImageUrl" alt="@brand.AltText">
                        }
                    }
                </div>
            </div>
        </div>
    </section>
}
