@model CourseViewModel

@{
    ViewData["Title"] = Model.Title;

    var themeMode = Context.Request.Cookies["ThemeMode"] ?? "light";
    var isDark = themeMode == "dark";
}

<section id="singleCourse">
        <div class="course-image">
            <img src="@Model.CourseBgImage" alt="Course image" />
        </div>

        <div class="container">
            <div class="showcase-container">
                <div class="breadcrumbs">
                    <p><i class="fa-solid fa-house"></i> Home</p>
                    <i class="fa-solid fa-angles-right"></i>
                    <p>Courses</p>
                    <i class="fa-solid fa-angles-right"></i>
                    <p class="current-page">@Model.Title</p>
                </div>
                <div class="tags">
                @if (@Model.IsBestSeller)
                    {
                        <div id="review">
                            <p>Best Seller</p>
                        </div>
                    }
                    <div id="category" class="tag">
                        <p>Digital</p>
                    </div>
                </div>

                <div class="title">
                <h1>@Model.Title</h1>
                    <p>Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
                    <div class="course-info">
                        <div class="stars">
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="star"></div>
                            <div class="review-count">(1.2K reviews)</div>
                        </div>
                    <p class="likes"><i class="fa-regular fa-thumbs-up"></i> @Model.LikesInNumbers likes</p>
                    <p class="duration"><i class="fa-regular fa-clock"></i> @Model.Hours hours</p>
                    </div>
                    <div class="author-info">
                        <img src="/images/author-img.svg" alt="" />
                        <div class="created-by">
                            <p>Created by</p>
                        <p>@Model.Author</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="course-content">
                <div class="details">
                    <h3>Course Description</h3>
                    <p>Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                    <h5>What you`ll learn</h5>
                    <ul>
                        <li><i class="fa-sharp fa-regular fa-circle-check"></i> Sed lectus donec amet eu turpis interdum.</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check"></i> Nulla at consectetur vitae dignissim porttitor.</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check"></i> Phasellus id vitae dui aliquet mi.</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check"></i> Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</li>
                        <li><i class="fa-sharp fa-regular fa-circle-check"></i> In aenean dolor diam tortor orci eu.</li>
                    </ul>
                </div>
                <div class="includes">
                    <h5>This course includes:</h5>
                    <ul>
                        <li><i class="fa-solid fa-display"></i> @Model.Hours hours on-demand video</li>
                        <li><i class="fa-regular fa-newspaper"></i> 18 articles</li>
                        <li><i class="fa-solid fa-download"></i> 25 downloadable resources</li>
                        <li><i class="fa-solid fa-infinity"></i> Full lifetime access</li>
                        <li><i class="fa-solid fa-trophy"></i> Certificate of completion</li>
                    </ul>

                @if (Model.DiscountPrice != null)
                    {
                        <div class="price-with-sale">
                        <p class="discount-price">$@Model.DiscountPrice</p>
                            <p class="regular-price">$@Model.Price</p>
                        </div>
                    }
                    else
                    {
                        <p class="price">$@Model.Price</p>
                    }

                    <button class="btn-theme-s">Join course</button>
                </div>
            </div>
            <div class="program-details">
                <h3>Program Details</h3>
                <div class="program-steps">

                    <div class="step-content">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <span>1</span>
                            </div>
                        </div>
                        <div class="step-info">
                            <h4>Introduction. Getting started</h4>
                            <p>Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                        </div>
                    </div>
                    <div class="step-content">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <span>2</span>
                            </div>
                        </div>
                        <div class="step-info">
                            <h4>The ultimate HTML developer: advanced HTML</h4>
                            <p>Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                        </div>
                    </div>
                    <div class="step-content">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <span>3</span>
                            </div>
                        </div>
                        <div class="step-info">
                            <h4>CSS & CSS3: basic</h4>
                            <p>Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                        </div>
                    </div>
                    <div class="step-content">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <span>4</span>
                            </div>
                        </div>
                        <div class="step-info">
                            <h4>JavaScript basics for beginners</h4>
                            <p>Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                        </div>
                    </div>
                    <div class="step-content">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <span>5</span>
                            </div>
                        </div>
                        <div class="step-info">
                            <h4>Understanding APIs</h4>
                            <p>Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                        </div>
                    </div>
                    <div class="step-content">
                        <div class="outer-circle">
                            <div class="inner-circle">
                                <span>6</span>
                            </div>
                        </div>
                        <div class="step-info">
                            <h4>C# and .NET from beginner to advanced</h4>
                            <p>Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                        </div>
                    </div>
                </div>
            </div>
            @await Html.PartialAsync("~/Views/Sections/_CourseAuthorCardPartial.cshtml")
        </div>
    
</section>